<div style="background-color: #000; margin-top: 50px; margin-bottom: 80px; height: 150px; display: flex; align-items: center; justify-content: center;">
  <h4 style="color: #cccccc; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 20px; margin: 0;">
    Feed your curiosity.
  </h4>

    <!-- Disabled form below -->
    <!--
    <form style="padding:3px;text-align:center;font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:12px;" action="https://tinyletter.com/photorgasms" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/yourproject', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
      <input type="text" placeholder="Enter your email address" class="tlemail" style="width:200px;height:30px;border:0;background-color:#000;color:#000;outline:0;padding-left:12px;" name="email" id="tlemail" />
      &nbsp; &nbsp;
      <input type="submit" value="Get notified!" style="background-color:#000;color:#000;height:30px;border:0;" />
    </form>
    -->
  </div>
</div>

<!-- Optional: Leave placeholder styling in case you re-enable -->
<style type="text/css">
  .tlemail::-webkit-input-placeholder {
    color: rgba(255,255,255,.45);
  }
  .tlemail:-moz-placeholder {
    color: rgba(255,255,255,.45);
  }
  .tlemail::-moz-placeholder {
    color: rgba(255,255,255,.45);
  }
  .tlemail:-ms-input-placeholder {
    color: rgba(255,255,255,.45);
  }
</style>
